<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <power_toys>
            <pot_order_status>
                <is_enabled>1</is_enabled>
                <last_x_hour>24</last_x_hour>
            </pot_order_status>
        </power_toys>
    </default>
</config>
